spring:
  codec:
    max-in-memory-size: 100MB
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    properties:
      hibernate:
        boot:
          allow_jdbc_metadata_access: false
    repositories:
      enabled: true
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true

server:
  port: 8080

database:
  default: postgresql

elasticsearch:
  url: localhost:9200

frontend:
  domain:
    dev: http://localhost:3000
    prod: https://app.sekolahku.com

clerk:
  secret-key: ${CLERK_SECRET_KEY}